<%- include("head") -%>

<div class="main">
  <div class="box">
    <h1>Order in <%= listTitle %></h1>
    <%newListItems.forEach(function(item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input
          type="checkbox"
          name="checkbox"
          value="<%= item._id %>"
          onChange="this.form.submit()"
        />
        <p><%= item.name %></p>
        <p>Table <%= item.table %></p>
        <p>Total <%= item.number %> ea</p>
        <!-- <a href="/buttonCancel" name="button" value="<%= item._id %>"><button type="submit">Cancel</button></a>  -->
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>" />
    </form>
    <% }) %>
  </div>
  <div class="box2">
    <a href="/Queue"><button type="submit">Queue</button></a>
    <a href="/Cooking"><button type="submit">Cookimg Menu</button></a>
    <a href="/Done"><button type="submit">Done</button></a>
    <a href="/Cancel"><button type="submit">Cancel</button></a> 
  </div>
</div>

<%- include("footer") -%>
